<!DOCTYPE html>
<html>
<head>
  <title>Gestionnaire de tâches</title>
  <link rel="stylesheet" href="css/styles.css"> 
</head>
<body>
  <h1>Gestionnaire de Tâches</h1>
  
  <!-- On redirig l'utilisateur vers le formulaire d'ajout -->
  <button id="addTaskBtn" onclick="location.href='/tasks/new'">Ajouter une tâche</button>

  <div id="taskContainer">
    <% if (tasks && tasks.length > 0) { %>
      <% tasks.forEach(task => { %>
        <div class="task">
          <h3><%= task.titre %></h3>
          <p><%= task.description %></p>
          <p><strong>Échéance:</strong> <%= new Date(task.echeance).toLocaleDateString() %></p>
          <p><strong>Statut:</strong> <%= task.statut %></p>
          <button onclick="deleteTask('<%= task._id %>')" class="BtnDelette">Supprimer</button>
          <button onclick="location.href='/tasks/<%= task._id %>'" class="BtnDetail">Voir Détails</button>
          <button onclick="location.href='/tasks/edit/<%= task._id %>'" class="BtnModifier">Modifier</button>
        </div>
      <% }) %>
    <% } else { %>
      <p id="emptyMessage">Aucune tâche pour le moment.</p>
    <% } %>
  </div>

  <script src="/js/script.js"></script>
</body>
</html>