<!DOCTYPE html>
<html>
<head>
  <title>Gestionnaire de tâches</title>
  <link rel="stylesheet" href="css/styles.css"> 
</head>
<body>
  <h1 style="color: white;">Gestionnaire de Tâches</h1>


  <!-- Formulaire pour le filtres  -->
  <form id="filterForm" class="filterForm" action="/tasks/filter" method="POST">
    <fieldset>
      <legend>Filtres</legend>
  
      <!-- Filtrage par Statut -->
      <label for="statut">Statut :</label>
      <select id="statut" name="statut">
        <option value="">Tous</option>
        <option value="à faire">À faire</option>
        <option value="en cours">En cours</option>
        <option value="terminée">Terminée</option>
        <option value="annulée">Annulée</option>
      </select>
  
      <!-- Filtrage par Priorité -->
      <label for="priorite">Priorité :</label>
      <select id="priorite" name="priorite">
        <option value="">Toutes</option>
        <option value="basse">Basse</option>
        <option value="moyenne">Moyenne</option>
        <option value="haute">Haute</option>
        <option value="critique">Critique</option>
      </select>
  
      <!-- Filtrage par Catégorie -->
      <label for="categorie">Catégorie :</label>
      <select id="categorie" name="categorie">
        <option value="">Toutes</option>
        <option value="travail">Travail</option>
        <option value="personnel">Personnel</option>
        <option value="autre">Autre</option>
      </select>
  
    </fieldset>
  
    <button type="submit">Filtrer</button>
  </form>
  
  <!-- On redirig l'utilisateur vers le formulaire d'ajout -->
  <button onclick="location.href='/tasks/new'" class="BtnAjouterTaskAccieil">Ajouter une tâche</button>

  <div id="taskContainer">
    <% if (tasks && tasks.length > 0) { %>
      <% tasks.forEach(task => { %>
        <div class="task">
          <h3><%= task.titre %></h3>
          <p><%= task.description ? task.description : "Aucune description" %></p>
          <p><strong>Échéance:</strong> <%= new Date(task.echeance).toLocaleDateString() %></p>
          <p><strong>Statut:</strong> <%= task.statut %></p>
          <button onclick="deleteTask('<%= task._id %>')" class="BtnDelette">Supprimer</button>
          <button onclick="location.href='/tasks/<%= task._id %>'" class="BtnDetail">Voir Détails</button>
          <button onclick="location.href='/tasks/edit/<%= task._id %>'" class="BtnModifier">Modifier</button>
        </div>
      <% }) %>
    <% } else { %>
      <p id="emptyMessage">Aucune tâche pour le moment.</p>
    <% } %>
  </div>

  <script src="/js/script.js"></script>
</body>
</html>